html {
  position: relative;
  min-height: 100%;
}


body {
  background-image: url('../images/bg-pattern.png');
  background-color: #2d2d2d;
  background-attachment: fixed;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
}


a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Logo */
#logo img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  padding:0px;
}

/* Search Bar */
#search-bar {
  margin-top: 50px;
}
#searchbox {
  background-color: transparent;
  width: 550px;
  height: 70px;
  padding: 10px;
  margin: 70px auto 50px;
  overflow: hidden; /* Clear floats */
}

#search,
#submit {
  float: left;
}

#search,
#search:focus {
  padding: 5px 10px;
  height: 40px;
  width: 410px;
  border: 2px solid #2d2d2d;
  background: #f1f1f1;
  border-radius: 10px 0px 0px 10px;
  color: #2d2d2d;
  outline: 0;
}

#submit,
#submit:visited,
#submit:active {
  width: 120px;
  height: 40px;
  border: 2px solid #2d2d2d;
  border-radius: 0px 10px 10px 0px;
  background-image: linear-gradient(to right, #ef425e, #f6dc6b,#bfe5be,#76c7fe);
  color: #2d2d2d;
  outline: 0;
}


.info {
  text-align: center;
}

/* Search Results */
.imgWrap {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-right: 5px;
}

.imgDescription {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  height: 300px;
  width: 300px;
  visibility: hidden;
  opacity: 0;
  word-break: break-all;
  -webkit-transition: visibility opacity 0.5s;
  -moz-transition: visibility opacity 0.5s;
  transition: visibility opacity 0.5s;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

hr {
  width:85%;
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
}

footer p {
  display:block;
  margin: 20px auto;
  font-weight:100;
  width:200px;
  font-size:14px;
}
