html {
    position: relative;
    min-height: 100%;
}


body{
  background-image: url("bg-pattern.png");
  background-color: #2d2d2d;
  background-attachment: fixed;
  color:#ffffff;
  font-family: source sans pro, sans-serif;
  font-size:20px;
}


a:link {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

#logo img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	padding:0px;
	}

#search-bar{
	display:block;
	margin:50px auto;
	width:600px;
	height:50px;
	}

#searchbox{
	display:block;
	width:100px;
	}

#search{
	display:block;
	margin:0 auto;
	width:540px;
	height:30px;
	border: 2px solid #121212;
  border-radius: 5px;
	padding-left:10px;
	font-size:16px;
	}

#submit{
	display:block;
	margin-left:550px;
	margin-top:-36px;
	background-image: linear-gradient(to right, #ef425e, #f6dc6b,#bfe5be,#76c7fe);
	height:36px;
	width:100px;
	border: 2px solid #121212;
  border-radius: 5px;
	font-size:16px;
	cursor:pointer;
	}


#p1{
	display:block;
	margin:50px auto;
	width:407px;
	}



.imgWrap {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-right: 5px;
}

.imgDescription {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);    /* 70% opaque red */  
  color: #fff;
	height: 300px;
	width: 300px;
  visibility: hidden;
  opacity: 0;
  word-break: break-all;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}


hr {
	width:85%;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
}

footer p{
	display:block;
  margin: 20px auto;
	font-weight:100;
	width:200px;
	font-size:18px;
	}
