html {
  position: relative;
  min-height: 100%;
}


body {
  background-image: url("bg-pattern.png");
  background-color: #2d2d2d;
  background-attachment: fixed;
  color:#ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
}


a:link,
a:visited,
a:hover,
a:active {
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Logo */
#logo img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
  padding:0px;
}

/* Search Bar */
#search-bar {
  display:block;
  margin:50px auto;
  width:600px;
  height:50px;
}

#searchbox {
  display:block;
  width:100px;
}

#search {
  display:block;
  margin:0 auto;
  width:540px;
  height:30px;
  border: 2px solid #121212;
  border-radius: 5px;
  padding-left:10px;
  font-size:16px;
}

.search-btn {
  display:inline-block;
  background-image: linear-gradient(to right, #ef425e, #f6dc6b,#bfe5be,#76c7fe);
  height:36px;
  width:100px;
  border: 2px solid #121212;
  border-radius: 5px;
  font-size:16px;
  cursor:pointer;
}

#p1 {
  display:block;
  margin:50px auto;
  width:407px;
}

/* Search Results */
.imgWrap {
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
  margin-right: 5px;
}

.imgDescription {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);      
  color: #fff;
  height: 300px;
  width: 300px;
  visibility: hidden;
  opacity: 0;
  word-break: break-all;
  -webkit-transition: visibility opacity 0.5s;
  -moz-transition: visibility opacity 0.5s;
  transition: visibility opacity 0.5s;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

hr {
  width:85%;
}

/* Footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
}

footer p {
  display:block;
  margin: 20px auto;
  font-weight:100;
  width:200px;
  font-size:18px;
}
